.modal {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

/* .modalOverlay {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;

  background-color: #e4e4e4;
  /* margin-top: 200px; */

.moda {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  width: 797px;
  height: 430px;
  color: var(--text-darkgray-color);
  background-color: var(--text-light-color);
  /* margin-top: 100px; */
  box-shadow: rgba(0.4, 0.4, 0, 0.85);
}

.modalWindow {
  width: 460px;
  margin: 0 auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
}

.eventName,
.eventDescription,
.eventDate,
.eventTimeFrom,
.eventTimeTo {
  display: flex;
  justify-content: space-between;
  margin: 4px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.fa,
.btn-create {
  cursor: pointer;
}

.btn-create {
  width: 100px;
  height: 30px;
  font-size: 17px;
  background: #c3e6f7;
  border: 1px solid #8c94aa;
  border-radius: 5px;
}

.formErr {
  height: 20px;
  color: #fa6e6e;
}

.formErr_btn {
  margin-top: 5px;
  color: #fa6e6e;
}
.blockInput-name {
  width: 600px;
  height: 150px;
  padding: 20px;
  font-size: 16px;
}

.blockInput-date {
  width: 400px;
  height: 40px;
  font-size: 17px;
}

/* input {
  width: 200px;
} */
